name: Build Flutter APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: "3.13.0"

    - name: Build APK
      working-directory: flutter_app
      run: |
        flutter pub get
        flutter build apk

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-release.apk
        path: flutter_app/build/app/outputs/flutter-apk/app-release.apk
